@{
    ViewBag.Title = "About Me";
}

<div style="text-align: center">
	<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
	<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/johnfedorchak" data-format="inline" data-related="false"></script>
</div>